@charset "utf8";
/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&display=swap');
/*  
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto Slab', serif;
*/

/*VARIÃVEIS*/
:root{
    /*fonts*/
    --font-principal: 'Cormorant Garamond', serif;
    --font-text: 'Roboto Slab', serif;

    /*colors*/
    --primary: #ffc069;
    --primary-light: #fff399;
    --primary-dark: #c9903b;

    --secondary: #a35c5c;
    --secondary-light: #d68a89;
    --secondary-dark: #723033;

    --color-text-primary: #000;
    --color-text-secondary: #fff;
}

/*CONF GERAIS*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font-text);
}

main, header{
    background-color: #ffc069;
    max-width: 1100px;
    margin: auto;
}

/*HEADER*/
header{
    margin-top: 21px;
    height: 250px;
    background: url('../_imagens/topo-imagem-principal.png') no-repeat top left var(--primary-dark);

}
div#background-header{
    width: 402px;
    height: 250px;
    float: right;
}

nav{
    background-color: var(--primary);
    width: 302px;
    height: 250px;
    float: right;
}

div.lateral{
    display: inline-block;
    width: 100px;
    height: 250px;
    box-sizing: border-box;

    border: solid 0px var(--primary);
    border-left-width: 70px ;
    border-left-color: transparent;

    border-bottom-width: 70px;
    border-bottom-color: var(--primary-light) ;
    border-top-width: 180px;
    border-right-width: 30px ;
}

ul#lista-menu-principal{
    list-style: none;  
    margin: 8px 0px;
    font: bold 1.2em var(--font-principal);
    color: var(--color-text-primary);
    display: inline-block;
}

ul#lista-menu-principal > li{
    margin-bottom: 8px;
}

ul#lista-menu-principal a{
    color: var(--color-text-primary);
    text-decoration: none;

}

ul#lista-menu-principal a:hover{
    text-decoration: underline;
}


p#localidade{
    text-align: justify;
    font-size: 0.8em;
    margin: 13px 0px;
}
#logo{
    display: inline-block;
}

/*MAIN*/
main{
    height: 500px;
    margin-top: 13px;
    
    
}
/*FOOTER*/