@charset "utf8";
/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&display=swap');
/*  
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto Slab', serif;
*/

/*VARIÁVEIS*/
:root{
    /*fonts*/
    --font-principal: 'Cormorant Garamond', serif;
    --font-text: 'Roboto Slab', serif;

    /*colors*/
    --primary: #ffc069;
    --primary-light: #fff399;
    --primary-dark: #c9903b;

    --secondary: #a35c5c;
    --secondary-light: #d68a89;
    --secondary-dark: #723033;

    --color-text-primary: #000;
    --color-text-secondary: #fff;
}

/*CONF GERAIS*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font-text);
    background-color: #f8f8f8;
}

main, header, footer{
    background-color: #ffc069;
    max-width: 1100px;
    margin: auto;
}

header, nav{
    border-radius: 3px;
}

article, aside{
    max-width: 514px;
    display: inline-block;
}

/*HEADER*/
header{
    margin-top: 21px;
    height: 250px;
    background: url('../_imagens/topo-imagem-principal.png') no-repeat top left var(--primary-dark);

    box-shadow: 0px 3px 8px  rgba(0, 0, 0, 0.199);
}

div#background-header{
    width: 410px;
    height: 250px;
    float: right;
}

nav{
    background-color: var(--primary);
    width: 310px;
    height: 250px;
    float: right;
}

div.lateral{
    display: inline-block;
    width: 100px;
    height: 250px;
    box-sizing: border-box;

    border: solid 0px var(--primary);
    border-left-width: 70px ;
    border-left-color: transparent;

    border-bottom-width: 70px;
    border-bottom-color: var(--primary-light) ;
    border-top-width: 180px;
    border-right-width: 30px ;
}

ul#lista-menu-principal{
    list-style: none;  
    margin: 8px 0px;
    font: bold 1.2em var(--font-principal);
    color: var(--color-text-primary);
    display: inline-block;
}

ul#lista-menu-principal > li{
    margin-bottom: 8px;
}

ul#lista-menu-principal a{
    color: var(--color-text-primary);
    text-decoration: none;

}

ul#lista-menu-principal a:hover{
    text-decoration: underline;
    color: var(--secondary-dark);
}


p#localidade{
    text-align: center;
    color: var(--secondary-dark);
    font-size: 0.7em;
    margin: 13px 0px;
    border-top: 1px solid var(--secondary-dark);
    border-bottom: 1px solid var(--secondary-dark);
    display: inline-block;
    width: 302px;

    padding: 3px 0px;
 
}
#logo{
    margin: 13px;
}

/*MAIN*/
main{
    margin-top: 13px;
    background-color: var(--primary-light);
    box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.253);
}

h2{
    font: bolder 1.8em var(--font-principal) ;
    color: var(--secundary-dark);
}

h2.dark-title{
    color: var(--secondary);
}

aside, article{
    padding: 13px;
}

aside{
    float: right;
    background-color: var(--primary);
}
/*FOOTER*/
footer{
    margin-top: 21px;
    height: 34px;
    text-align: center;
}

footer > p{
    font-style: italic;
}