@charset "utf8";
/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab&display=swap');
/*  
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Roboto Slab', serif;
*/

/*VARIÃVEIS*/
:root{
    /*fonts*/
    --font-principal: 'Cormorant Garamond', serif;
    --font-text: 'Roboto Slab', serif;

    /*colors*/
    --primary: #ffc069;
    --primary-light: #fff399;
    --primary-dark: #c9903b;

    --secondary: #a35c5c;
    --secondary-light: #d68a89;
    --secondary-dark: #723033;

    --color-text-primary: #000;
    --color-text-secondary: #fff;
}

/*CONF GERAIS*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font-text);
}

main, header{
    background-color: #ffc069;
    max-width: 1000px;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    margin-top: 21px;
    text-align: right;
    height: 250px;
    background: url('../_imagens/topo-imagem-principal.png') no-repeat top left var(--primary-dark);

}
div#background-header{
    background-color: var(--primary-dark);
    width: 40%;
    height: 250px;
    display: inline-block;
    text-align: left;
}
nav{ 

}

nav > ul{  
    margin: 13px;
    font: bold 1.2em var(--font-principal);
    color: var(--color-text-primary);
}

nav > ul >  li{
    margin-bottom: 8px;
}

nav a{
    color: var(--color-text-primary);
}

nav a:hover{
    text-decoration: underline;
}

p#localidade{
    text-align: justify;
    font-size: 0.8em;
    margin: 13px;
}

a#reservar{
    text-align: right;
}

/*MAIN*/
main{
    height: 500px;
    margin-top: 13px;
    
    
}
/*FOOTER*/